body {
  /* height: 100%;
  margin: 0;
  width: 100%; */
  min-width: 372px;
  /* margin-top: 10px; */
  overflow-x: hidden;
}

.wrapper {
  min-height: 100vh;
  /* display: flex;
  flex-direction: column; */
  /* position: relative; */
}

