/* Slide - Container alinhado ao Topo */
.carousel-container {
  position: relative;
  bottom: 130px;
  left: 0;
  width: 100%;
  z-index: 0;
  flex: 1 0 auto;
}


/* Tratamento da Imagem */
.carousel-item img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}
/* #carouselMain .carousel-inner img {
  width: 100%;
  height: 70vh; 
} */

.carousel-caption {
  top: 150px; 
}


/* Estilos padrão */
.carousel-caption .titulo_span,
.carousel-caption .titulo_h2,
.carousel-caption .texto_p {
    display: block;
    font-weight: bold;
}

/* Responsividade das tags abaixo de 767px */
@media (max-width: 767px) {
    .carousel-caption .titulo_span,
    .carousel-caption .titulo_h2,
    .carousel-caption .texto_p {
        font-size: 1rem;
    }
    .carousel-caption .titulo_h2 {
        font-size: 0.9rem;
    }
}

/* Responsividade das tags abaixo de 576px */
@media (max-width: 576px) {
    .carousel-caption .titulo_span,
    .carousel-caption .titulo_h2,
    .carousel-caption .texto_p {
        font-size: 0.7rem;
    }
    .carousel-caption .titulo_h2 {
        font-size: 0.7rem;
    }
}

/* Responsividade das tags acima de 767px */
@media (min-width: 768px) {
    .carousel-caption .titulo_span {
        font-size: 2rem; 
    }
    .carousel-caption .titulo_h2 {
        font-size: 1.5rem; 
    }
    .carousel-caption .texto_p {
        font-size: 1.2rem; 
    }
}

/* Responsividade das tags acima de 1200px */
@media (min-width: 1200px) {
    .carousel-caption .titulo_span {
        font-size: 2.5rem; 
    }
    .carousel-caption .titulo_h2 {
        font-size: 2rem; 
    }
    .carousel-caption .texto_p {
        font-size: 1.5rem; 
    }
}
